<!doctype html>


{% extends 'bookings/base.html' %}
<body>
{% block title %}<h1> Available Movies</h1>{% endblock %}
{% block content %}


<div class="col col-lg-2 text-primary-emphasis bg-red-300-subtle border border-primary-subtle rounded-3">
    <ul class="list-group">
        {% for movie in movies %}
        <li class="list-group-item">
            <h5>{{movie.movie_title}}</h5>
            <p>{{movie.description}}</p>
            
        </li>
        <form action="https://app-redherring-5.devedu.io/api/seats/">
            <input type="submit" value="Find Seats" />
     {% endfor %}
    </ul>
</div>
</body>
{% endblock %}